<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd">
<web-app id="WebApp_ID">
	<display-name>物流管理系统</display-name>
	<filter>
		<filter-name>Myfilter</filter-name>
		<display-name>Myfilter</display-name>
		<description></description>
		<filter-class>filter.Myfilter</filter-class>
	</filter>
	<filter>
		<filter-name>Mobfilter</filter-name>
		<display-name>Mobfilter</display-name>
		<description></description>
		<filter-class>filter.Mobfilter</filter-class>
	</filter>
	<filter-mapping>
		<filter-name>Myfilter</filter-name>
		<url-pattern>/delivery.html</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Myfilter</filter-name>
		<url-pattern>/deliveryed.html</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Myfilter</filter-name>
		<url-pattern>/send.html</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Myfilter</filter-name>
		<url-pattern>/sended.html</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Mobfilter</filter-name>
		<url-pattern>/Mobfilter</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Mobfilter</filter-name>
		<url-pattern>/mobfind1.html</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Mobfilter</filter-name>
		<url-pattern>/mobfind2.html</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Mobfilter</filter-name>
		<url-pattern>/mobfind3.html</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Mobfilter</filter-name>
		<url-pattern>/mobfind4.html</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Mobfilter</filter-name>
		<url-pattern>/address_edit.html</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Mobfilter</filter-name>
		<url-pattern>/affrim_get_goods.html</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Mobfilter</filter-name>
		<url-pattern>/delivery_orders_details.html</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Mobfilter</filter-name>
		<url-pattern>/express_address_edit.html</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Mobfilter</filter-name>
		<url-pattern>/express_address.html</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Mobfilter</filter-name>
		<url-pattern>/mobdelivery.html</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Mobfilter</filter-name>
		<url-pattern>/mobdeliverying.html</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Mobfilter</filter-name>
		<url-pattern>/mobhomepage.html</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Mobfilter</filter-name>
		<url-pattern>/mobme.html</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Mobfilter</filter-name>
		<url-pattern>/mobneeddelivery.html</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Mobfilter</filter-name>
		<url-pattern>/myaddress.html</url-pattern>
	</filter-mapping>
	<filter-mapping>
		<filter-name>Mobfilter</filter-name>
		<url-pattern>/orders_details.html</url-pattern>
	</filter-mapping>
	<servlet>
		<servlet-name>haha</servlet-name>
		<display-name>haha</display-name>
		<description></description>
		<servlet-class>my.haha</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>AddPerson</servlet-name>
		<display-name>AddPerson</display-name>
		<description></description>
		<servlet-class>my.AddPerson</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Login</servlet-name>
		<display-name>Login</display-name>
		<description></description>
		<servlet-class>my.Login</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Query</servlet-name>
		<display-name>Query</display-name>
		<description></description>
		<servlet-class>login.Query</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Loginer</servlet-name>
		<display-name>Loginer</display-name>
		<description></description>
		<servlet-class>login.Loginer</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Sending</servlet-name>
		<display-name>Sending</display-name>
		<description></description>
		<servlet-class>sending.Sending</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Isdelivery</servlet-name>
		<display-name>Isdelivery</display-name>
		<description></description>
		<servlet-class>delivery.Isdelivery</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>test</servlet-name>
		<display-name>test</display-name>
		<description></description>
		<servlet-class>delivery.test</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Testty</servlet-name>
		<display-name>Testty</display-name>
		<description></description>
		<servlet-class>delivery.Testty</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Updateissend</servlet-name>
		<display-name>Updateissend</display-name>
		<description></description>
		<servlet-class>delivery.Updateissend</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Query_your_sended</servlet-name>
		<display-name>Query_your_sended</display-name>
		<description></description>
		<servlet-class>query.Query_your_sended</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Query_your_deliverying</servlet-name>
		<display-name>Query_your_deliverying</display-name>
		<description></description>
		<servlet-class>query.Query_your_deliverying</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Delete_orders</servlet-name>
		<display-name>Delete_orders</display-name>
		<description></description>
		<servlet-class>delete.Delete_orders</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Delete_order</servlet-name>
		<display-name>Delete_order</display-name>
		<description></description>
		<servlet-class>delete.Delete_order</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Deliverying</servlet-name>
		<display-name>Deliverying</display-name>
		<description></description>
		<servlet-class>query.Deliverying</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Affrim_orders_success</servlet-name>
		<display-name>Affrim_orders_success</display-name>
		<description></description>
		<servlet-class>query.Affrim_orders_success</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Deliveryed</servlet-name>
		<display-name>Deliveryed</display-name>
		<description></description>
		<servlet-class>query.Deliveryed</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Query_sending</servlet-name>
		<display-name>Query_sending</display-name>
		<description></description>
		<servlet-class>query.Query_sending</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Waitting_for_send</servlet-name>
		<display-name>Waitting_for_send</display-name>
		<description></description>
		<servlet-class>query.Waitting_for_send</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Have_sended</servlet-name>
		<display-name>Have_sended</display-name>
		<description></description>
		<servlet-class>query.Have_sended</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Query_your_address</servlet-name>
		<display-name>Query_your_address</display-name>
		<description></description>
		<servlet-class>mobQuery.Query_your_address</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Delete_your_address</servlet-name>
		<display-name>Delete_your_address</display-name>
		<description></description>
		<servlet-class>mobQuery.Delete_your_address</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Add_Address</servlet-name>
		<display-name>Add_Address</display-name>
		<description></description>
		<servlet-class>mobQuery.Add_Address</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Insert_delivery_orders</servlet-name>
		<display-name>Insert_delivery_orders</display-name>
		<description></description>
		<servlet-class>mobQuery.Insert_delivery_orders</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Update_state</servlet-name>
		<display-name>Update_state</display-name>
		<description></description>
		<servlet-class>mobQuery.Update_state</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Affirm_complete</servlet-name>
		<display-name>Affirm_complete</display-name>
		<description></description>
		<servlet-class>mobQuery.Affirm_complete</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Customer_Affirm_finish</servlet-name>
		<display-name>Customer_Affirm_finish</display-name>
		<description></description>
		<servlet-class>mobQuery.Customer_Affirm_finish</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Send_messages</servlet-name>
		<display-name>Send_messages</display-name>
		<description></description>
		<servlet-class>mobQuery.Send_messages</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Query_all_sended</servlet-name>
		<display-name>Query_all_sended</display-name>
		<description></description>
		<servlet-class>mobQuery.Query_all_sended</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Mob_users_delect_orders</servlet-name>
		<display-name>Mob_users_delect_orders</display-name>
		<description></description>
		<servlet-class>delete.Mob_users_delect_orders</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>Mob_delivery_delect_orders</servlet-name>
		<display-name>Mob_delivery_delect_orders</display-name>
		<description></description>
		<servlet-class>delete.Mob_delivery_delect_orders</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>haha</servlet-name>
		<url-pattern>/haha</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>AddPerson</servlet-name>
		<url-pattern>/AddPerson</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Login</servlet-name>
		<url-pattern>/Login</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Query</servlet-name>
		<url-pattern>/Query</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Loginer</servlet-name>
		<url-pattern>/Loginer</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Sending</servlet-name>
		<url-pattern>/Sending</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Isdelivery</servlet-name>
		<url-pattern>/Isdelivery</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>test</servlet-name>
		<url-pattern>/test</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Testty</servlet-name>
		<url-pattern>/Testty</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Updateissend</servlet-name>
		<url-pattern>/Updateissend</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Query_your_sended</servlet-name>
		<url-pattern>/Query_your_sended</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Query_your_deliverying</servlet-name>
		<url-pattern>/Query_your_deliverying</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Delete_orders</servlet-name>
		<url-pattern>/Delete_orders</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Delete_order</servlet-name>
		<url-pattern>/Delete_order</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Deliverying</servlet-name>
		<url-pattern>/Deliverying</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Affrim_orders_success</servlet-name>
		<url-pattern>/Affrim_orders_success</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Deliveryed</servlet-name>
		<url-pattern>/Deliveryed</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Query_sending</servlet-name>
		<url-pattern>/Query_sending</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Waitting_for_send</servlet-name>
		<url-pattern>/Waitting_for_send</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Have_sended</servlet-name>
		<url-pattern>/Have_sended</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Query_your_address</servlet-name>
		<url-pattern>/Query_your_address</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Delete_your_address</servlet-name>
		<url-pattern>/Delete_your_address</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Add_Address</servlet-name>
		<url-pattern>/Add_Address</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Insert_delivery_orders</servlet-name>
		<url-pattern>/Insert_delivery_orders</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Update_state</servlet-name>
		<url-pattern>/Update_state</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Affirm_complete</servlet-name>
		<url-pattern>/Affirm_complete</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Customer_Affirm_finish</servlet-name>
		<url-pattern>/Customer_Affirm_finish</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Send_messages</servlet-name>
		<url-pattern>/Send_messages</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Query_all_sended</servlet-name>
		<url-pattern>/Query_all_sended</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Mob_users_delect_orders</servlet-name>
		<url-pattern>/Mob_users_delect_orders</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>Mob_delivery_delect_orders</servlet-name>
		<url-pattern>/Mob_delivery_delect_orders</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
</web-app>
